
.icon-edit:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-after-effects-file:before { content: '\e802'; } /* '' */
.icon-archive-file:before { content: '\e803'; } /* '' */
.icon-code-file:before { content: '\e804'; } /* '' */
.icon-document-file:before { content: '\e805'; } /* '' */
.icon-html-file:before { content: '\e806'; } /* '' */
.icon-illustrator-file:before { content: '\e807'; } /* '' */
.icon-pdf-file:before { content: '\e808'; } /* '' */
.icon-photoshop-file:before { content: '\e809'; } /* '' */
.icon-sketch-file:before { content: '\e80a'; } /* '' */
.icon-sound-file:before { content: '\e80b'; } /* '' */
.icon-unknown-file:before { content: '\e80c'; } /* '' */
.icon-video-file:before { content: '\e80d'; } /* '' */
.icon-xlsx-file:before { content: '\e80e'; } /* '' */
.icon-account:before { content: '\e80f'; } /* '' */
.icon-appearance:before { content: '\e810'; } /* '' */
.icon-apps:before { content: '\e811'; } /* '' */
.icon-changelog:before { content: '\e812'; } /* '' */
.icon-connections:before { content: '\e813'; } /* '' */
.icon-dev-options:before { content: '\e814'; } /* '' */
.icon-experiments:before { content: '\e815'; } /* '' */
.icon-games:before { content: '\e816'; } /* '' */
.icon-generic:before { content: '\e817'; } /* '' */
.icon-gift-inventory:before { content: '\e818'; } /* '' */
.icon-hypesquad:before { content: '\e819'; } /* '' */
.icon-keybinds:before { content: '\e81a'; } /* '' */
.icon-language:before { content: '\e81b'; } /* '' */
.icon-logout:before { content: '\e81c'; } /* '' */
.icon-nitro:before { content: '\e81d'; } /* '' */
.icon-notifications:before { content: '\e81e'; } /* '' */
.icon-os-linux:before { content: '\e81f'; } /* '' */
.icon-os-settings:before { content: '\e820'; } /* '' */
.icon-os-windows:before { content: '\e821'; } /* '' */
.icon-overlay:before { content: '\e822'; } /* '' */
.icon-payment:before { content: '\e823'; } /* '' */
.icon-customa:before { content: '\e824'; } /* '' */
.icon-plugins:before { content: '\e825'; } /* '' */
.icon-powercord-core:before { content: '\e826'; } /* '' */
.icon-spotify:before { content: '\e827'; } /* '' */
.icon-themes:before { content: '\e828'; } /* '' */
.icon-update:before { content: '\e829'; } /* '' */
.icon-security:before { content: '\e82a'; } /* '' */
.icon-server-boost:before { content: '\e82b'; } /* '' */
.icon-text-image:before { content: '\e82c'; } /* '' */
.icon-twitch:before { content: '\e82d'; } /* '' */
.icon-voice:before { content: '\e82e'; } /* '' */
